.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Reader {
  height: 600px;
  display: flex;
  flex-flow: column;
  .Reader-header {
    flex: 0 1 auto;
    z-index: 2;
  }
  .Reader-content {
    flex: 1 1 auto;
    overflow: auto;
  }
}

.Reader-item {
  * {
    color: inherit !important;
  }
  padding: 0 16px;
  background: inherit;
  font-family: Roboto;
  font-size: 13px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
